/* formatacoes gerais */

body {
	font-family: "Open Sans", sans-serif;
}
/* formatacão da top */

#top {
	/* Atualização da logo*/
	background-color: #e8eaf6;
	height: auto;
	padding-bottom: 32px;
}
#top nav ul a {
	margin-top: -3px;
}
#top nav {
	background-color: #001c37e0;
	padding: 1em;
	height: 5.7em;
}
#top nav ul li a {
	font-weight: 300;
	text-transform: uppercase;
	letter-spacing: 1px;
}
/*------------------------------pesquisa edições---------------------------*/

#pesquisar {
	display: flex;
	text-align: center;
	justify-content: center;
	background-color: #e8eaf6;
	padding-top: 4em;
	padding-bottom: 4em;
}
#pesquisar .barra {
	display: flex;
	width: 50%;
	display: flex;
	justify-content: center;
	align-items: center;
	margin: auto;
	text-align: right;
}
.barra {
	border: 1px solid;
	background: white;
}
#pesquisar input {
	border: 0;
	background: transparent;
	text-decoration: none;
	text-align: right;
	padding-right: 1px;
	font-size: 23px;
	margin: 0px 1px 0px -36px;
	width: 100%;
	height: 45px;
}
#pesquisar a {
	font-size: 40px;
	color: #fff;
	background: #001c37;
	width: 50px;
	height: 45px;
}
/*------------------------------servicos edições---------------------------*/

#servicos {
	padding: 20px;
}
#servicos h2 {
	display: flex;
	justify-content: center;
	font-size: 40px;
	color: black;
}
#servicos .avatar {
	width: auto;
	height: auto;
	border-radius: 0%;
}
#servicos .collection .collection-item.avatar {
	min-height: 70px;
	padding-left: 72px;
	position: relative;
}
#servicos .material-icons {
	font-family: 'Material Icons';
	font-weight: normal;
	font-style: normal;
	font-size: 25px;
	line-height: 2.0;
	letter-spacing: normal;
	text-transform: none;
	display: inline-block;
	white-space: nowrap;
	word-wrap: normal;
	direction: ltr;
	-moz-font-feature-settings: 'liga';
	-moz-osx-font-smoothing: grayscale;
	color: #001c37e0;
}
#servicos .material-icons:hover {
	color: tomato;
	transition: 0.5s;
}
#servicos li {
	color: #939393;
}
/*------------------------------rank edições---------------------------*/

#rank {
	padding: 20px;
}
#rank h2 {
	display: flex;
	justify-content: center;
	font-size: 40px;
}
#rank .avatar {
	width: auto;
	height: auto;
	border-radius: 0%;
}
#rank .collection .collection-item.avatar {
	min-height: 70px;
	padding-left: 72px;
	position: relative;
}
#rank .material-icons {
	font-family: 'Material Icons';
	font-weight: normal;
	font-style: normal;
	font-size: 25px;
	line-height: 1.5;
	letter-spacing: normal;
	text-transform: none;
	display: inline-block;
	white-space: nowrap;
	word-wrap: normal;
	direction: ltr;
	-moz-font-feature-settings: 'liga';
	-moz-osx-font-smoothing: grayscale;
	color: #001c37e0;
}
#rank .material-icons:hover {
	color: tomato;
	transition: 0.5s;
}
#rank p {
	color: #939393;
}
/*------------------------------perfi edições---------------------------*/

#perfil {
	background-color: #e8eaf6;
	padding-top: 4em;
	padding-bottom: 4em;
	text-align: center;
}
ul#list-menu {
	display: flex;
	justify-content: center;
}
ul#list-menu li {
	padding-left: 2px;
}
#perfil .btn-large {
	background-color: #001c37;
}
/* --------------- pagina geral edições -----------------------------------*/

#info {
	color: #fff;
	margin-top: 6em;
}
#login {
	background-color: #e8eaf6;
	padding-top: 4em;
	padding-bottom: 4em;
}
#login .btn-large {
	background-color: #001c37;
}
#info h2 {
	font-weight: bold;
}
#info p {
	font-size: 23px;
	font-weight: 300;
}
/* formatacao da  comoFunciona */

.comoFunciona {
	font-size: 19px;
	color: #757575;
	background-color: #e8eaf6;
	padding-top: 1em;
	padding-bottom: 1em;
}
.comoFunciona h4,
h3 {
	color: #4a535a;
	text-transform: uppercase;
}
h3 {
	font-size: 1.4em;
	font-weight: 800;
}
h4 {
	font-size: 1.3em;
	font-weight: 800;
}
.footer-copyright {
	text-align: center;
}
/* classes */

.log-pag {
	background-color: #e8eaf6;
}
.logo {
	/* Tamanho reduzido a 50% */
	width: 160px;
	height: auto;
	margin: auto;
}
.bg-top {
	background: url("../imagens/bg-top.png") no-repeat bottom;
	height: 300px;
	opacity: 4.0;
}
.page-footer {
	padding-top: 20px;
	color: #fff;
	background-color: #001C37;
}
#top nav ul a:hover {
	background-color: rgba(0, 0, 0, 0.4);
	border-radius: 5px;
}
@media screen and (max-width: 375px) {
	h2 {
		font-size: 2.7em;
		margin: 0 0 0 0;
	}
	h3 {
		font-size: 1em;
		font-weight: 800;
	}
	.logo {
		width: 160px;
		height: auto;
		margin: auto;
	}
	#top {
		background-color: #483D8B;
		height: 32.7em;
		/*Trabalhar na imagem*/
		padding-bottom: 32px;
	}
	#top {
		background: url("../imagens/bgx375.png") no-repeat bottom;
		height: 300px;
		opacity: 4.0;
	}
	#info {
		color: #fff;
		margin-top: 2em;
	}
	.comoFunciona {
		font-size: 16px;
		color: #757575;
		background-color: #e8eaf6;
		padding-top: 1em;
		padding-bottom: 1em;
	}
	h4 {
		font-size: 1em;
		font-weight: 800;
	}
}
@media screen and (max-width: 768px) {
	h2 {
		font-size: 2.7em;
		margin: 1em 0 1em 0;
	}
	h3 {
		font-size: 1em;
		font-weight: 800;
	}
	.logo {
		width: 160px;
		height: auto;
		margin: auto;
	}
	.bg-top {
		background: url("../imagens/bgx768.png") no-repeat bottom;
		height: 300px;
		opacity: 4.0;
	}
	#top {
		background-color: #483D8B;
		height: 32.7em;
		/*Trabalhar na imagem*/
		padding-bottom: 32px;
	}
	.comoFunciona {
		font-size: 16px;
		color: #757575;
		background-color: #e8eaf6;
		padding-top: 1em;
		padding-bottom: 1em;
	}
	h4 {
		font-size: 1em;
		font-weight: 800;
	}
	#social {
		width: 100%;
		margin-left: auto;
		left: auto;
		right: auto;
	}
}
.avatar {
	width: 300px;
	height: 300px;
	border-radius: 50%;
}
/* --------------- Edição chat -----------------------------------*/

* {
	padding: 0;
	margin: 0;
	box-sizing: border-box;
	font-family: sans-serif;
}
.chat {
	display: flex;
	flex-direction: column;
	height: 100vh;
	background: #f1f0e8;
	border-radius: 5px;
}
.chat-header {
	display: flex;
	cursor: pointer;
}
.profile {
	width: 100%;
	background: #001c37e0;
	display: flex;
	align-items: center;
	height: 60px;
	padding: 0px 10px;
	position: relative;
	border-radius: 5px;
}
.profile .pp {
	width: 75px;
	display: inline-block;
	border-radius: 50%;
	margin-left: 32px;
}
.profile h2 {
	display: inline-block;
	line-height: 60px;
	vertical-align: bottom;
	color: #fff;
	font-size: 20px;
}
.profile span {
	color: #ccc;
	position: absolute;
	top: 42px;
	left: 100px;
	font-size: 14px;
}
.profile .left {
	flex: 1;
}
.chat-box {
	background: url('../img/bg.jpeg');
	background-attachment: fixed;
	padding-left: 20px;
	overflow-y: scroll;
	flex: 1;
}
.chat-box .img_chat {
	width: 280px;
}
.chat-r {
	display: flex;
}
.chat-r .sp {
	flex: 1;
}
.chat-l {
	display: flex;
}
.chat-l .sp {
	flex: 1;
}
.chat-box .mess {
	max-width: 300px;
	background: #F7FCF6;
	padding: 10px;
	border-radius: 10px;
	margin: 20px 0px;
	cursor: pointer;
}
.chat-box .mess p {
	word-break: break-all;
	font-size: 18px;
}
.chat-box .mess-r {
	background: #ADD8E6;
}
.chat-box .check {
	float: right;
}
.chat-box .check span {
	color: #888;
	font-size: 12px;
	font-weight: 700px;
}
*::-webkit-scrollbar {
	width: 5px;
}
*::-webkit-scrollbar-track {
	background: #f1f1f1;
}
*::-webkit-scrollbar-thumb {
	background: #aaa;
}
*::-webkit-scrollbar-thumb:hover {
	background: #555;
}
.chat-footer {
	display: flex;
	justify-content: center;
	align-items: center;
	border-radius: 60px;
	position: relative;
	cursor: pointer;
}
.chat-footer textarea {
	display: block;
	flex: 1;
	width: 100%;
	height: 50px;
	border-radius: 60px;
	margin: 5px;
	padding: 10px;
	outline: none;
	font-size: 19px;
	padding-left: 40px;
	padding-right: 90px;
	border: 2px solid #ccc;
	color: #555;
	resize: none;
}
.chat-footer .emo {
	display: block;
	width: 35px;
	height: 35px;
	position: absolute;
	left: 10px;
	top: 12px;
}
.chat-footer .icons {
	position: absolute;
	right: 100px;
	top: 10px;
}
.chat-footer .icons img {
	display: inline-block;
	width: 35px;
	height: 35px;
	margin-left: 230%;
}
/*FORMATAÇÂO DAS REDES SOCIAIS*/

#social ul li {
	width: 32px;
	height: 32px;
	float: left;
	margin-right: 15px;
}
#social ul li a {
	background-image: url("../imagens/sprite-social.png");
	display: block;
	height: inherit;
	text-indent: -99999em;
}
#social ul li:nth-child(1) a {
	background-position: 0 0;
}
#social ul li:nth-child(2) a {
	background-position: -32px 0;
}
#social ul li:nth-child(3) a {
	background-position: -64px 0;
}
#social ul li:nth-child(4) a {
	background-position: -96px 0;
}
#social ul li:nth-child(5) a {
	background-position: -128px 0;
}
#social ul li:nth-child(1) a:hover {
	background-position: 0 -32px;
}
#social ul li:nth-child(2) a:hover {
	background-position: -32px -32px;
}
#social ul li:nth-child(3) a:hover {
	background-position: -64px -32px;
}
#social ul li:nth-child(4) a:hover {
	background-position: -96px -32px;
}
#social ul li:nth-child(5) a:hover {
	background-position: -128px -32px;
}
